/*------------------RESET----------------*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Gabarito&family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Gabarito&family=Libre+Baskerville:wght@700&family=Red+Hat+Display:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}




/*------------------HEADER----------------*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

.header-superior {
    max-width: 1950px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: auto;
}

/*-----------------BARRA MENU-------------*/

.menu-contenedor {
    width: 100%;
    height: 70px;
    background: #006691;
    padding: 0px 20px;
    display: flex;
    justify-content: start;
    text-align: center;
}

.menu {
    max-width: 76px;
    margin: 0% 6%;
    height: 100%;
}

nav {
    height: 100%;
}

nav>ul {
    height: 100%;
    display: flex;

}

nav ul li {
    height: 100%;
    list-style: none;
    position: relative;
    margin-right: 30%;
    margin-left: 60%;
}

nav>ul>li:first-child>a {
    background-image: url(../img/home-dog.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
    border-radius: 18px;
}

nav>ul>li:first-child:hover>a {
    background-image: url(../img/home-dog.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center center;
}

nav>ul>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav>ul>li>a:hover {
    color: white;
    transform: scale(1.1);
    background: #2499c7;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 5);
    border-radius: 8%;
}

.nav>ul>li>a::after {
    content: "\f107";
    font-family: FontAwesome;
    padding-left: 10px;
}

#selected {
    transform: scale(1.1);
    background-color: #2499c7;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 5);
}

/*-------------------SUBMENU----------------*/

nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
    border-radius: 8px;
}

nav ul li ul:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 90px;
}

nav ul li ul li {
    height: 50px;
    width: 160px;
    left: -100px;
}

nav ul li ul li a {
    display: block;
    color: #2499c7;
    padding: 8px 10px 8px 8px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 8px;
    transition: all 300ms ease;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

nav ul li ul li a:hover {
    background: #2499c7;
    color: #fff;
    transform: scale(1.1);
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 5);
}

header div.menu-contenedor div.menu nav ul li a span {
    padding-left: 5px;
    padding-top: 6px;
}

.logo {
    height: auto;
    width: 150px;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    left: 9px;
}

.logo-dentro {
    height: 80px;
    width: 90px;
}

.img-flecha {
    width: 17px;
    height: 17px;
    margin-bottom: 5px;
}

.icon__menu{
    font-size: 20px;
    color: white;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}
#label__check{
    width: 26px;
    height: 100%;
    display: none;
}
#check__menu{
    display: none;
}

/*-------------FIN DE MENU------------*/


/*------------------MAIN-------------------*/

main {
    background: #f0f0f0;
    padding: 40px 20px;
    margin-top: 70px;
}

/*------------------FIN DE MAIN-------------------*/

/*----------------CARRUSEL - PORTADA-----------------*/
.carrusel-portada {
    margin: auto;
    background-color: white;
    width: 1600px;
    height: 735px;
    padding: 10px;
    overflow: hidden;
    border-radius: 18px;
}

.carrusel-ul {
    display: flex;
    position: relative;
    width: 1560px;
    height: 700px;
    animation: cambio 20s infinite alternate linear;
}

.carrusel-ul li {
    width: 1560px;
    height: 700px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.carrusel-h1 {
    color: black;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    position: absolute;
    left: 150px;
    top: 150px;
    font-size: 60px;
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.carrusel-imagenp {
    height: 350px;
    width: 350px;
    position: absolute;
    left: 315px;
    top: 260px;
}

.imagenes-carrusel {
    width: 1850px;
    height: 700px;
    object-fit: cover;
    border-radius: 18px;
    margin-right: 45px;
}

/*----------------- FIN DE CARRUSEL - PORTADA --------------------*/

/*----------------SEPARADOR-----------------*/
.patita-intermedia {
    text-align: center;
    font-size: 40px;
    padding-top: 80px;
    margin-bottom: 120px;
}

.division-lineal {
    background: #B695C0;
    background-color: #B695C0;
    width: 450px;
    height: 20px;
    -moz-border-radius: 0 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 0 50% / 0 100%;
    border: 3px solid #555;
    position: relative;
    left: 49.45%;
    bottom: -35px;
    animation: bounce-in-right 1.4s both;
}

.patita-intermedia::after {
    content: url(../img/patita.png);
    animation: swirl-in-right-bck 0.65s ease-out both;
}

.division-lineal2 {
    background: #B695C0;
    background-color: #B695C0;
    width: 450px;
    height: 20px;
    -moz-border-radius: 0 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 0 50% / 0 100%;
    border: 3px solid #555;
    position: relative;
    left: 26.25%;
    bottom: -75px;
    animation: bounce-in-left 1.4s both;
}

/*----------------FIN DE SEPARADOR-----------------*/

/*----------------------MOSTRADOR DE PRODUCTOS--------------------*/

.fondoh2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 500px;
    font-size: 30px;
    background: #cdb2d6;
    margin-bottom: -20px;
    width: 1850px;
    height: 70px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
    position: relative;
    border-start-start-radius: 18px;
    border-start-end-radius: 18px;
}

.tarjetas-presentacion {
    background: #cdb2d6;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1850px;
    display: flex;
    justify-content: space-between;
    border-end-end-radius: 18px;
    border-end-start-radius: 18px;
}

.tarjetas-presentacion h2 {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-weight: 500px;
}

.card {
    height: 70%;
    width: 100%;
    margin: 5px;
    border-radius: 12px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 350px;
}

.card .container {
    padding: 25px;
    text-align: center;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.contenido h3 {
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 500px;
}

.contenido p {
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    margin-bottom: 9px;
}


.contenido a p{
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 5px;
    color: #006691;
    border: 1px solid #006691;
    border-radius: 4px;
    transition: all 400ms ease;
    align-items: center;
    align-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.card .contenido .p-boton:hover {
    background: #2499c7;
    color: white;
}

/*----------------------FIN DE MOSTRADOR DE PRODUCTOS--------------------*/

/*---------------------NOSOTROS--------------------*/
.acerca-nosotros {
    height: 650px;
    width: 95%;
    margin: 100px 50px 60px 50px;
    background: 0;
    padding: 20px;
    border: 0px solid #000;
    display: block;
    flex-direction: center;
    background-color: lightgray;
    border-radius: 8px;
    text-align: center;
}

.acerca-nosotros h2 {
    margin-bottom: 30px;
    color: #2499c7;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-weight: 500px;
    font-size: 55px;
}

.acerca-nosotros h3 {
    margin-bottom: 65px;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-weight: 500px;
    font-size: 25px;
}

.acerca-nosotros ol {
    height: 300px;
    width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    margin-top: 35px;
}

.acerca-nosotros ol li {
    text-align: start;
    font-size: 15px;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nosotros-lista-1 {
    height: 40px;
    width: 920px;
    margin: 20px 0px 24px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nosotros-lista-2 {
    height: 60px;
    width: 1000px;
    margin: 8px 0px 24px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nosotros-lista-3 {
    height: 70px;
    width: 1000px;
    margin: 8px 0px 24px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nosotros-lista-4 {
    height: 50px;
    width: 950px;
    margin: 8px 0px 18px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nosotros-lista-5 {
    height: 50px;
    width: 600px;
    margin: 8px 0px 4px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nosotros-img{
    display: flex;
    position: relative;
    height: 600px;
    bottom: 477px;
    left: 1200px;
}
/*---------------------FIN DE NOSOTROS--------------------*/

/*----------------------SECCIONES DE CARTELES----------------------*/
.selecciones {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 84px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    border-radius: 250px;
}

.selecciones div {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 95%;
    height: 260px;
    margin: 20px 50px;
    background: #cdb2d6;
    padding: 25px;
    border-radius: 80px;
    border-left: 10px solid white;
    border-right: 10px solid white;
}

.selecciones div a {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
}

.etiquetas h2 {
    padding-top: 12px;
    color: white;
    padding-bottom: 15px;
    font-family: 'Gabarito', sans-serif;
}
.selecciones div p{
    color: black;
    font-size: 18px;
}
.logito {
    margin-top: -7px;
}

.etiquetas {
    height: 500px;
}
/*----------------------FIN DE SECCIONES DE CARTELES----------------------*/

/*----------------------------SECCION BANCOS----------------------*/
.contenedor-banco {
    margin: auto;
    background-color: #cdb2d6;
    align-items: center;
    width: 1800px;
    height: 120px;
    padding: 30px;
    margin-top: 200px;
    margin-bottom: 120px;
    overflow: hidden;
    border-radius: 18px;
}

.secc-banco {
    display: flex;
    position: relative;
    width: 1560px;
    height: 700px;
    animation: cambio-banco 20s infinite alternate linear;
}

.secc-banco ol {
    background-color: #cdb2d6;
    height: 100px;
    width: 1300px;
    font-style: none;
    display: flex;
    flex-direction: center;
}

.secc-banco ol li {
    background-color: #cdb2d6;
    width: 1560px;
    height: 700px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 80px;
    margin-right: 20px;
}

.secc-banco img {
    background-color: #cdb2d6;
    height: 60px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

/*----------------------------FIN SECCION BANCOS---------------------------*/

/*------------------FOOTER-------------------*/
footer {
    background-color: #006691;
    padding: 40px 20px;
    border-radius: 7px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

footer div {
    width: 100%;
    height: 338px;
    margin: 20px 1px;
    background: 0;
    padding: 20px;
    display: inline-table;
    border-radius: 7px;
}

.social {
    width: 0.5fr;
    height: 359.4px;
    border-right: solid white;
    border-left: solid white;
}

.social h2 {
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 250px;
    margin-bottom: 25px;
    text-decoration: underline;
}

.social i {
    color: black;
    font-size: 25px;
}

.social a:first-of-type {
    margin-left: 95px;
}

.social h3 {
    color: white;
    margin-top: 20px;
    margin-bottom: 12px;
    text-decoration: underline;
}

.social p {
    color: white;
    margin-bottom: 0px;
}

.social a {
    text-decoration: none;
    color: white;
}

.social i {
    margin-right: 7px;
}

.icono-redes-a {
    display: inline-flex;
    text-align: center;
    margin-left: 5px;
    margin-right: 30px;
}

.atajos-web h2 {
    margin-bottom: 15px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 250px;
    color: white;
    text-decoration: underline;
}
.atajos-web{
    width: 1fr;
}
.atajos-web a {
    text-align: center;
    display: block;
    list-style: none;
    text-decoration: none;
    margin: 0px 100px 10px 100px;
    padding: 5px 0px 5px 0px;
    background-color: #2499c7;
    border-radius: 20px;
    color: white;
}

.atajos-web a:hover {
    background: #2499c7;
    color: #fff;
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 5);
}

.ubi-map {
    height: 358.5px;
    width: 1fr;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 250px;
    border-left: solid white;
    border-right: solid white;
}

.ubi-map h2 {
    margin-bottom: 10px;
    color: white;
    text-decoration: underline;
}

.mapita {
    height: 250px;
    width: 550px;
    border-radius: 6px;
}
/*-------------------------------FIN DE FOOTER---------------------------*/
/*---------------------------SECCION ENVIOS---------------------------*/
.cuerpo-envios main {
    background-image: url(../img/fondo-envios.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.seccion-envios {
    width: 100%;
    background-color: #7cdaf9;
    height: 50%;
    border-radius: 200px;
    padding: 105px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-top: solid 6px white;
    border-bottom: solid 6px white;
}
.seccion-envios div{
    border-radius: 18px;
    border-bottom: solid 3px white;
    margin-bottom: 25px;
}

.seccion-envios h2 {
    color: #006691;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 500px;
    font-size: 40px;
    text-decoration: underline;
}

.seccion-envios p {
    color: #000;
    margin-bottom: 35px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 18px;
}

/*---------------------------FIN DE SECCION ENVIOS---------------------------*/

/*----------------------------FOOTER SECUNDARIO------------------------------*/
.footer-secundario {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #006691;
    width: 100%;
    height: 460px;
    border-radius: 8px;
    margin-top: -55px;
    border-top: solid 5px white;
}

.social-secundario {
        width: 0.5fr;
        height: 359.4px;
        border-right: solid white;
        border-left: solid white;
}

.social-secundario h2 {
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 250px;
    margin-bottom: 25px;
    text-decoration: underline;
}

.social-secundario i {
    color: white;
    font-size: 25px;
}
.social-secundario a{
    text-decoration: none;
    color: white;
}
.social-secundario a:first-of-type {
    color: white;
    margin-left: 95px;
}

.social-secundario h3 {
    color: white;
    margin-top: 20px;
    margin-bottom: 15px;
}

.social-secundario p {
    margin-bottom: 10px;
    list-style: none;
    text-decoration: none;
    color: white;
}

.social-secundario p img {
    margin-right: 5px;
}
.envios-deco{
    text-decoration: none;
}
.atajos-web-secundario {
    width: 615px;
    height: 360px;
}

.atajos-web-secundario h2 {
    margin-bottom: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 250px;
    text-decoration: underline;
    color: white;
}

.atajos-web-secundario a {
    text-align: center;
    display: block;
    list-style: none;
    text-decoration: none;
    margin: 0px 100px 10px 100px;
    padding: 5px 0px 5px 0px;
    background-color: #2499c7;
    border-radius: 20px;
    color: white;
}

.atajos-web-secundario a:hover {
    background: #2499c7;
    color: #fff;
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 5);
}

.ubi-map-secundario {
    width: 615px;
    height: 360px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 250px;
    border-right: solid white;
    border-left: solid white;
}

.ubi-map-secundario h2 {
    margin-bottom: 10px;
    text-decoration: underline;
    color: white;
}

.mapita-secundario {
    height: 250px;
    width: 550px;
    border-radius: 6px;
}


/*----------------------------FIN DE FOOTER SECUNDARIO------------------------------*/

/*--------------------------SECCION JUGUETES-----------------------------*/
.box-juguetes {
    height: 3000px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tarjetas-presentacion-juguetes {
    background: #E5EAFA;
    height: 2000px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1850px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 18px;
}

.fondo-h2 {
    font-family: 'DM Serif Display', serif;
    color: #6195FE;
    width: 1850px;
    height: 90px;
    background-color: #E5EAFA;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-size: 45px;
    border-radius: 18px;
}

.tarjetas-presentacion-juguetes h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 500px;
}

.card-juguetes {
    height: 520px;
    width: 281.2px;
    margin: 5px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card-juguetes:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card-juguetes img {
    width: 100%;
    height: 350px;
}

.card-juguetes .container {
    padding: 25px;
    text-align: center;
}

.contenido-juguetes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-juguetes .contenido-juguetes h3 {
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 500px;
}

.card-juguetes .contenido-juguetes a {
    width: 120px;
    height: 40px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #6195FE;
    border: 1px solid #6195FE;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card-juguetes .contenido-juguetes a:hover {
    background: #A0BEF5;
    color: white;
}

/*------------------------CONSULTA / RESPUESTA-------------------------*/
.boton-cf{
    color: white;
}
.cartel-cf{
    position: relative;
    left: 50%;
    right: 50%;
}
.cuerpo-consultas {
    background-image: url(../img/consulta.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-cr {
    width: 80%;
    height: 650px;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.consulta-respuesta {
    background-color: #E5EAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 630px;
    width: 1200px;
    margin: 50px 150px 200px 340px;
    text-align: center;
    font-size: larger;
    border-radius: 18px;
    border: 2px solid black;
}

.tarjeta-consulta {
    width: 500px;
    position: absolute;
    top: 500px;
    left: 650px;
}

.acordion-item {
    border-radius: 8px;
}

.consulta-respuesta h2 {
    background-color: #E5EAFA;
    padding: 1px 0 10px 0;
    color: #6195FE;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-weight: 50px;
    margin-bottom: 30px;
    margin-top: -280px;
    border-radius: 15px;
}

.consulta-respuesta p {
    margin-bottom: 30px;
}

.consulta-respuesta a {
    text-align: center;
    display: block;
    list-style: none;
    text-decoration: none;
    margin: 0px 100px 10px 100px;
    padding: 5px 0px 5px 0px;
    background-color: white;
    border-radius: 20px;
    color: black;
}

.consulta-respuesta a:hover {
    background: #A0BEF5;
    color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 5);
}

.consulta-respuesta img {
    height: 290px;
    width: 290px;
    position: absolute;
    bottom: -95px;
    left: 800px;
}



/*------------------------MEDIDAS - TALLES-------------------------*/

.seccion-medidas {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 150px;
}

.talle-medida-img {
    height: 600px;
    width: 650px;
    margin-bottom: 60px;
    border-radius: 15px;
}

.seccion-medidas h3 {
    color: #0099E9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 500px;
    margin-bottom: 25px;
    font-size: larger;
}

.seccion-medidas h2 {
    color: #0099E9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 500px;
    margin-bottom: 30px;
    font-size: larger;
}

.seccion-medidas p {
    margin-bottom: 18px;
    font-size: large;
}

.img-medida {
    border-radius: 30px;
    margin-bottom: 150px;
}




/*------------------------SECCION MEDIOS DE PAGO-----------------------*/
.modal-bank{
    width: 950px;
    margin-left: 450px;
}
.modal-header{
    background-color: #B695C0;
}
.modal-title{
    position: relative;
    left: 33%;
    font-size: 1.8rem;
}

.promo-bank {
    width: 600px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: -150px;
}
.promo-bank h2{
    color: rgba(33, 167, 0, 0.986);
    margin-bottom: 15px;
    font-size: 25px;
}
.promo-bank p{
    color: #00000077;
}
.promo-bank__img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.promo-bank__img img{
    height: 50px;
    width: 50px;
}
.promo-bank2 {
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: -150px;
}
.promo-bank2 h2{
    font-size: 25px;
}
.promo-bank2 h2 span{
    color: rgba(33, 167, 0, 0.986);
    font-size: 25px;
}
.promo-bank2 p{
    color: #00000077;
    margin-bottom: 15px;
    margin-top: 15px;
}
.promo-bank__img2{
    display: grid;
    grid-template-columns: repeat(7,20%);
    align-items: center;
}
.promo-bank__img2 img{
    height: 40px;
    width: 40px;
    margin-right: 25px;
}

.promo-bank3 {
    width: 800px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: -150px;
}
.promo-bank3 h2{
    font-size: 25px;
}
.promo-bank3 h2 span{
    color: rgba(33, 167, 0, 0.986);
    font-size: 25px;
}
.promo-bank3__p{
    color: #00000077;
    margin-bottom: 15px;
    margin-top: 15px;
}
.promo-bank__img3{
    display: grid;
    grid-template-columns: repeat(4,20%);
    align-items: center;
}
.promo-bank__img3 div{
    height: 100px;
    width: 60px;
    margin-right: 50px;
}
.promo-bank__img3 img{
    height: 50px;
    width: 50px;
}
.promo-bank__img3__p{
    color: rgba(33, 167, 0, 0.986);
    font-size: 15px;
}
.divisor-bank{
    position: relative;
    height: 1px;
    width: 750px;
    border: solid 1px #B695C0;
    left: -165px;
    bottom: 35px;
}
.divisor-bank2{
    position: relative;
    height: 1px;
    width: 750px;
    border: solid 1px #B695C0;
    left: -165px;
    bottom: 40px;
}
.modal-footer button{
    background-color: #B695C0;
}


/*---------------------------MEDIA QUERIS--------------------*/
@media screen and (max-width:2000px) {
    .menu label i{
        display: none;
        opacity: 0;
    }
    nav ul{
        position: relative;
        bottom: 25px;
    }
    nav ul li ul{
        height: 220px;
        left: 18px;
    }
}

@media screen and (max-width:1890px){
    .social a:first-of-type{
        margin-left: 85px;
    }
}
@media screen and (max-width:1880px){
    .social a:first-of-type{
        margin-left: 80px;
    }
}
@media screen and (max-width:1870px){
    .social a:first-of-type{
        margin-left: 75px;
    }
}
@media screen and (max-width:1862px) {
    .tarjetas-presentacion {
        width: 1825px;
    }
    .fondoh2 {
        width: 1825px;
    }
    .division-lineal2{
        left: 25.6%;
    }
}
@media screen and (max-width:1858px) {
    .tarjetas-presentacion {
        width: 1818px;
    }
    .fondoh2 {
        width: 1818px;
    }
}
@media screen and (max-width:1854px) {
    .tarjetas-presentacion {
        width: 1815px;
    }
    .fondoh2 {
        width: 1815px;
    }
}
@media screen and (max-width:1846px) {
    .tarjetas-presentacion {
        width: 1805px;
    }
    .fondoh2 {
        width: 1805px;
    }
    .division-lineal2{
        left: 25.35%;
    }
}
@media screen and (max-width:1840px) {
    .tarjetas-presentacion {
        width: 1800px;
    }
    .fondoh2 {
        width: 1800px;
    }
}
@media screen and (max-width:1834px) {
    .tarjetas-presentacion {
        width: 1795px;
    }

    .fondoh2 {
        width: 1795px;
    }
    .division-lineal2{
        left: 25.2%;
    }
    .contenedor-banco{
        width: 1795px;
    }
}
@media screen and (max-width:1830px) {
    .tarjetas-presentacion {
        width: 1790px;
    }

    .fondoh2 {
        width: 1790px;
    }
    .contenedor-banco{
        width: 1790px;
    }
}
@media screen and (max-width:1825px) {
    .tarjetas-presentacion {
        width: 1785px;
    }

    .fondoh2 {
        width: 1785px;
    }
    .division-lineal2{
        left: 25%;
    }
    .contenedor-banco{
        width: 1785px;
    }
}
@media screen and (max-width:1820px) {
    .tarjetas-presentacion {
        width: 1780px;
    }

    .fondoh2 {
        width: 1780px;
    }
    .contenedor-banco{
        width: 1780px;
    }
    .nosotros-lista-1{
        margin: 0 225px 4px 330px;
    }
    .nosotros-lista-2{
        margin: 8px 220px 4px 350px;
    }
}
@media screen and (max-width:1814px) {
    .tarjetas-presentacion {
        width: 1775px;
    }

    .fondoh2 {
        width: 1775px;
    }
    .division-lineal2{
        left: 24.8%;
    }
    .contenedor-banco{
        width: 1775px;
    }
}
@media screen and (max-width:1810px) {
    .tarjetas-presentacion {
        width: 1770px;
    }
    .fondoh2 {
        width: 1770px;
    }
    .contenedor-banco{
        width: 1770px;
    }
    .social a:first-of-type{
        margin-left: 60px;
    }
    .atajos-web a{
        margin: 0 90px 10px 90px;
    }
    .mapita{
        width: 500px;
    }
}
@media screen and (max-width:1805px) {
    .tarjetas-presentacion {
        width: 1765px;
    }
    .fondoh2 {
        width: 1765px;
    }
    .division-lineal2{
        left: 24.65%;
    }
    .contenedor-banco{
        width: 1765px;
    }
}
@media screen and (max-width:1800px) {
    .tarjetas-presentacion {
        width: 1760px;
    }
    .fondoh2 {
        width: 1760px;
    }
    .contenedor-banco{
        width: 1760px;
    }
}
@media screen and (max-width:1795px) {
    .tarjetas-presentacion {
        width: 1755px;
    }

    .fondoh2 {
        width: 1755px;
    }
    .contenedor-banco{
        width: 1755px;
    }
}
@media screen and (max-width:1790px) {
    .tarjetas-presentacion {
        width: 1750px;
    }
    .fondoh2 {
        width: 1750px;
    }
    .division-lineal2{
        left: 24.45%;
    }
    .contenedor-banco{
        width: 1750px;
    }
}
@media screen and (max-width:1785px) {
    .tarjetas-presentacion {
        width: 1745px;
    }

    .fondoh2 {
        width: 1745px;
    }
    .contenedor-banco{
        width: 1745px;
    }
    .social a:first-of-type{
        margin-left: 50px;
    }
    .atajos-web a{
        margin: 0 80px 10px 80px;
    }
}
@media screen and (max-width:1780px) {
    .tarjetas-presentacion {
        width: 1740px;
    }
    .fondoh2 {
        width: 1740px;
    }
    .contenedor-banco{
        width: 1740px;
    }
}
@media screen and (max-width:1775px) {
    .tarjetas-presentacion {
        width: 1735px;
    }
    .fondoh2 {
        width: 1735px;
    }
    .division-lineal2{
        left: 24.25%;
    }
    .contenedor-banco{
        width: 1735px;
    }
}
@media screen and (max-width:1770px) {
    .tarjetas-presentacion {
        width: 1730px;
    }
    .fondoh2 {
        width: 1730px;
    }
    .contenedor-banco{
        width: 1730px;
    }
}
@media screen and (max-width:1765px) {
    .tarjetas-presentacion {
        width: 1725px;
    }
    .fondoh2 {
        width: 1725px;
    }
    .division-lineal2{
        left: 24.2%;
    }
    .contenedor-banco{
        width: 1725px;
    }
}
@media screen and (max-width:1760px) {
    .tarjetas-presentacion {
        width: 1720px;
    }
    .fondoh2 {
        width: 1720px;
    }
    .division-lineal2{
        left: 24%;
    }
    .contenedor-banco{
        width: 1720px;
    }
}
@media screen and (max-width:1755px) {
    .tarjetas-presentacion {
        width: 1715px;
    }
    .fondoh2 {
        width: 1715px;
    }
    .nosotros-img{
        left: 1190px;
    }
    .contenedor-banco{
        width: 1715px;
    }
}
@media screen and (max-width:1750px) {
    .tarjetas-presentacion {
        width: 1710px;
    }
    .fondoh2 {
        width: 1710px;
    }
    .nosotros-img{
        left: 1180px;
    }
    .contenedor-banco{
        width: 1710px;
    }
}
@media screen and (max-width:1745px) {
    .tarjetas-presentacion {
        width: 1705px;
    }
    .fondoh2 {
        width: 1705px;
    }
    .nosotros-img{
        left: 1170px;
    }
    .contenedor-banco{
        width: 1705px;
    }
}
@media screen and (max-width:1740px) {
    .tarjetas-presentacion {
        width: 1700px;
    }
    .fondoh2 {
        width: 1700px;
    }
    .division-lineal2{
        left: 23.7%;
    }
    .contenedor-banco{
        width: 1700px;
    }
}
@media screen and (max-width:1735px) {
    .tarjetas-presentacion {
        width: 1695px;
    }
    .fondoh2 {
        width: 1695px;
    }
    .nosotros-img{
        left: 1160px;
    }
    .selecciones{
        margin-right: 50px;
        grid-template-columns: 33% 35% 33%;
        justify-content: space-evenly;
    }
    .contenedor-banco{
        width: 1695px;
    }
}
@media screen and (max-width:1730px) {
    .tarjetas-presentacion {
        width: 1690px;
    }
    .fondoh2 {
        width: 1690px;
    }
    .contenedor-banco{
        width: 1690px;
    }
}
@media screen and (max-width:1725px) {
    .tarjetas-presentacion {
        width: 1685px;
    }
    .fondoh2 {
        width: 1685px;
    }
    .contenedor-banco{
        width: 1685px;
    }
}
@media screen and (max-width:1720px) {
    .tarjetas-presentacion {
        width: 1680px;
    }
    .fondoh2 {
        width: 1680px;
    }
    .nosotros-img{
        left: 1130px;
    }
    .division-lineal2{
        left: 23.4%;
    }
    .contenedor-banco{
        width: 1680px;
    }
}
@media screen and (max-width:1715px) {
    .tarjetas-presentacion {
        width: 1675px;
    }
    .fondoh2 {
        width: 1675px;
    }
    .contenedor-banco{
        width: 1675px;
    }
}
@media screen and (max-width:1710px) {
    .tarjetas-presentacion {
        width: 1670px;
    }
    .fondoh2 {
        width: 1670px;
    }
    .division-lineal2{
        left: 23.2%;
    }
    .contenedor-banco{
        width: 1670px;
    }
}
@media screen and (max-width:1705px) {
    .tarjetas-presentacion {
        width: 1665px;
    }
    .fondoh2 {
        width: 1665px;
    }
    .contenedor-banco{
        width: 1665px;
    }
}
@media screen and (max-width:1700px) {
    .tarjetas-presentacion {
        width: 1660px;
    }
    .fondoh2 {
        width: 1660px;
    }
    .contenedor-banco{
        width: 1660px;
    }
}
@media screen and (max-width:1698px) {
    .tarjetas-presentacion {
        width: 1658px;
    }
    .fondoh2 {
        width: 1658px;
    }
    .division-lineal2{
        left: 23%;
    }
    .selecciones{
        margin-right: 65px;
        grid-template-columns: 33% 40% 33%;
    }
    .contenedor-banco{
        width: 1658px;
    }
}
@media screen and (max-width:1693px) {
    .tarjetas-presentacion {
        width: 1655px;
    }
    .fondoh2 {
        width: 1655px;
    }
    .contenedor-banco{
        width: 1655px;
    }
}
@media screen and (max-width:1690px) {
    .tarjetas-presentacion {
        width: 1650px;
    }
    .fondoh2 {
        width: 1650px;
    }
    .contenedor-banco{
        width: 1650px;
    }
}
@media screen and (max-width:1685px) {
    .tarjetas-presentacion {
        width: 1645px;
    }
    .fondoh2 {
        width: 1645px;
    }
    .division-lineal2{
        left: 22.8%;
    }
    .nosotros-img{
        left: 1110px;
    }
    .contenedor-banco{
        width: 1645px;
    }
}
@media screen and (max-width:1680px) {
    .tarjetas-presentacion {
        width: 1640px;
    }
    .fondoh2 {
        width: 1640px;
    }
    .division-lineal2{
        left: 22.65%;
    }
    .contenedor-banco{
        width: 1640px;
    }
}
@media screen and (max-width:1675px) {
    .tarjetas-presentacion {
        width: 1635px;
    }
    .fondoh2 {
        width: 1635px;
    }
    .division-lineal2{
        left: 22.65%;
    }
    .selecciones{
        margin-right: 75px;
    }
    .contenedor-banco{
        width: 1635px;
    }
    .mapita{
        width: 480px;
    }
}
@media screen and (max-width:1670px) {
    .tarjetas-presentacion {
        width: 1630px;
    }
    .fondoh2 {
        width: 1630px;
    }
    .division-lineal2{
        left: 22.55%;
    }
    .contenedor-banco{
        width: 1630px;
    }
}
@media screen and (max-width:1665px) {
    .tarjetas-presentacion {
        width: 1625px;
    }
    .fondoh2 {
        width: 1625px;
    }
    .division-lineal2{
        left: 22.5%;
    }
    .nosotros-img{
        left: 1100px;
    }
    .contenedor-banco{
        width: 1625px;
    }
}
@media screen and (max-width:1660px) {
    .tarjetas-presentacion {
        width: 1620px;
    }
    .fondoh2 {
        width: 1620px;
    }
    .contenedor-banco{
        width: 1620px;
    }
}
@media screen and (max-width:1655px) {
    .tarjetas-presentacion {
        width: 1615px;
    }
    .fondoh2 {
        width: 1615px;
    }
    .division-lineal2{
        left: 22.3%;
    }
    .nosotros-img{
        left: 1090px;
    }
    .contenedor-banco{
        width: 1615px;
    }
    .social a:first-of-type{
        margin-left: 45px;
    }
}
@media screen and (max-width:1650px) {
    .tarjetas-presentacion {
        width: 1610px;
    }
    .fondoh2 {
        width: 1610px;
    }
    .contenedor-banco{
        width: 1610px;
    }
}
@media screen and (max-width:1645px) {
    .tarjetas-presentacion {
        width: 1605px;
    }
    .fondoh2 {
        width: 1605px;
    }
    .division-lineal2{
        left: 22.2%;
    }
    .nosotros-img{
        left: 1075px;
    }
    .selecciones{
        margin-right: 85px;
    }
    .contenedor-banco{
        width: 1605px;
    }
}
@media screen and (max-width:1640px) {
    .carrusel-portada{
        width: 1500px;
    }
    .carrusel-ul{
        width: 1450px;
    }
    .carrusel-ul li{
        margin-right: 25px;
        margin-left: -30px;
    }
    .imagenes-carrusel{
        width: 1450px;
    }
    .tarjetas-presentacion {
        width: 1600px;
        display: grid;
        grid-template-columns: 18.5% 18.5% 18.5% 18.5% 18.5%;
        grid-template-rows: 0;
        justify-content: space-evenly;
    }
    .card{
        height: 540px;
    }
    .fondoh2 {
        width: 1600px;
    }
    .division-lineal2{
        left: 22.1%;
    }
    .contenedor-banco{
        width: 1600px;
    }
    .social a:first-of-type{
        margin-left: 40px;
    }
}
@media screen and (max-width:1635px) {
    .tarjetas-presentacion {
        width: 1595px;
    }
    .fondoh2 {
        width: 1595px;
    }
    .division-lineal2{
        left: 22%;
    }
    .contenedor-banco{
        width: 1595px;
    }
}
@media screen and (max-width:1630px) {
    .tarjetas-presentacion {
        width: 1590px;
    }
    .fondoh2 {
        width: 1590px;
    }
    .division-lineal2{
        left: 21.8%;
    }
    .contenedor-banco{
        width: 1590px;
    }
}
@media screen and (max-width:1625px) {
    .tarjetas-presentacion {
        width: 1585px;
        grid-template-columns: 19% 19% 19% 19% 19%;
    }
    .fondoh2 {
        width: 1585px;
    }
    .nosotros-img{
        left: 1065px;
    }
    .contenedor-banco{
        width: 1585px;
    }
}
@media screen and (max-width:1620px) {
    .tarjetas-presentacion {
        width: 1580px;
    }
    .fondoh2 {
        width: 1580px;
    }
    .division-lineal2{
        left: 21.55%;
    }
    .contenedor-banco{
        width: 1580px;
    }
    .atajos-web a{
        margin: 0 70px 10px 70px;
    }
}
@media screen and (max-width:1615px) {
    .tarjetas-presentacion {
        width: 1575px;
    }
    .fondoh2 {
        width: 1575px;
    }
    .nosotros-img{
        left: 1055px;
    }
    .contenedor-banco{
        width: 1575px;
    }
}
@media screen and (max-width:1610px) {
    .tarjetas-presentacion {
        width: 1570px;
    }
    .fondoh2 {
        width: 1570px;
    }
    .contenedor-banco{
        width: 1570px;
    }
    .social a:first-of-type{
        margin-left: 35px;
    }
    .mapita{
        width: 460px;
    }
}
@media screen and (max-width:1605px) {
    .tarjetas-presentacion {
        width: 1565px;
    }
    .fondoh2 {
        width: 1565px;
    }
    .nosotros-img{
        left: 1045px;
    }
    .contenedor-banco{
        width: 1565px;
    }
}
@media screen and (max-width:1600px) {
    .tarjetas-presentacion {
        width: 1560px;
    }
    .fondoh2 {
        width: 1560px;
    }
    .division-lineal2{
        left: 21.2%;
    }
    .contenedor-banco{
        width: 1560px;
    }
}
@media screen and (max-width:1595px) {
    .tarjetas-presentacion {
        width: 1555px;
    }
    .fondoh2 {
        width: 1555px;
    }
    .nosotros-img{
        left: 1035px;
    }
    .selecciones{
        margin-right: 80px;
        grid-template-columns: 33% 45% 33%;
    }
    .contenedor-banco{
        width: 1555px;
    }
    .atajos-web a{
        margin: 0 60px 10px 60px;
    }
    .mapita{
        width: 430px;
    }
}
@media screen and (max-width:1590px) {
    .tarjetas-presentacion {
        width: 1550px;
    }
    .fondoh2 {
        width: 1550px;
    }
    .contenedor-banco{
        width: 1550px;
    }
}
@media screen and (max-width:1585px) {
    .tarjetas-presentacion {
        width: 1545px;
    }
    .fondoh2 {
        width: 1545px;
    }
    .division-lineal2{
        left: 21%;
    }
    .nosotros-img{
        left: 1025px;
    }
    .contenedor-banco{
        width: 1545px;
    }
    .secc-banco ol li{
        height: 200px;
        margin-left: 25px;
        margin-right: 25px;
    }
}
@media screen and (max-width:1581px) {
    .tarjetas-presentacion {
        width: 1540px;
    }
    .fondoh2 {
        width: 1540px;
    }
    .contenedor-banco{
        width: 1540px;
    }
    .social{
        width: 512px;
    }
    .atajos-web a{
        margin: 0 40px 10px 60px;
        width: 350px;
    }
}













@media screen and (max-width: 720px){
    .menu label i{
        display: block;
        opacity: 1;
    }
    .logo{
        left: 600px;
        top: 5px;
    }
    .logo-dentro{
        width: 70px;
        height: 70px;
    }
    nav > ul{
        flex-direction: column;
        background-color: #023877;
        position: fixed;
        left: 0;
        top: 70px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }
    nav ul li{
        position: relative;
        right: 450px;
    }
    nav > ul > li > a{
        width: 730px;
    }
    nav > ul > li > a:hover{
        transform: scale(1);
        border-radius: 20px;
    }
    nav ul li ul{
        left: 90px;
    }
    nav > ul > li:hover ul{
        top: 50px;
    }
    nav > ul > li:first-child > a{
        background-position: 348px;
        border-radius: 20px;
    }
    #selected{
        transform: scale(1);
    }
    #label__check{
        display: block;
    }
    .icon__menu{
        display: flex;
        font-size: 40px;
        position: relative;
        top: 12.5px;
        right: 40px;
    }
    #check__menu:checked ~ nav > ul{
        height: 330px;
        visibility: visible;
        opacity: 1;
    }
}
/*-----------------------FIN DE MEDIA QUERIS--------------------*/
/*---------------------------KEYFRAMES--------------------*/
@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }
}

@keyframes cambio-banco {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }
}

@keyframes cambio-cards {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }
}

@keyframes bounce-in-right {
    0% {
        transform: translateX(600px);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        transform: translateX(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        transform: translateX(68px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }

    81% {
        transform: translateX(32px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateX(8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }
}

@keyframes bounce-in-left {
    0% {
        transform: translateX(-600px);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        transform: translateX(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        transform: translateX(-68px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }

    81% {
        transform: translateX(-28px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateX(-8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }
}


@keyframes swirl-in-right-bck {
    0% {
        transform: rotate(540deg) scale(5);
        transform-origin: 100% 50%;
        opacity: 0;
    }

    100% {
        transform: rotate(0) scale(1);
        transform-origin: 100% 50%;
        opacity: 1;
    }
}

@keyframes puff-in-center {
    0% {
        transform: scale(2);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }
}