.box-cambio{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,0.7861345221682423) 65%, rgba(148,187,233,0.7469188358937324) 100%); 
    width: 100%;
    border-radius: 30px;
    @include flex (flex, center, column);
    text-align: center;
    h2{
        width: 100%;
        font-size: 40px;
        margin-bottom: 40px;
    }
    ol{
        width: 100%;
        text-align: start;
        li{
            font-size: 18px;
            margin-bottom: 20px;
        }
        li:nth-child(9){
        list-style-type: none;
        }
    }
}