.seccion-medidas{
    width: 100%;
    height: auto;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 150px;
    border-radius: 18px;
    border-left: solid 8px $color-secundario;
    border-right: solid 8px $color-secundario;
    h2{
        color: $color-primario;
        font-family: 'DM Serif Display', serif;
        font-style: italic;
        font-weight: 500px;
        margin-bottom: 30px;
        font-size: 30px;
        text-decoration: underline;
        user-select: none;
    }
    img{
        height: 600px;
        width: 60%;
        margin-bottom: 60px;
        border-radius: 15px;
    }
    h3{
        color: $color-primario;
        font-family: 'DM Serif Display', serif;
        font-style: italic;
        font-weight: 500px;
        margin-bottom: 25px;
        font-size: 30px;
        text-decoration: underline;
    }
    div{
        text-decoration: none;
        list-style: none;
        p{
            margin-bottom: 18px;
            font-size: large;
        }
    }
}
.seccion-medidas2{
    width: 100%;
    height: auto;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 85px;
    margin-bottom: 150px;
    border-radius: 18px;
    border-left: solid 8px $color-secundario;
    border-right: solid 8px $color-secundario;
    h2{
        color: $color-primario;
        font-family: 'DM Serif Display', serif;
        font-style: italic;
        font-weight: 500px;
        margin-bottom: 30px;
        font-size: 30px;
        text-decoration: underline;
        user-select: none;
    }
    div{
        p{
            margin-bottom: 28px;
            font-size: 20px;
        }
        img{
            width: 70%;
            border-radius: 30px;
            margin-bottom: 150px;
        }
    }
}